.card img {
    height: 290px;
    width: 200px;
    margin: 10px;
}

.card-back img {
    height: 310px;
    width: 235px;
    margin: 0 -10px;
}

.hand {
    display: flex;
    flex-direction: row;
}