#logo {
    width:500px;
    margin: 20px;
}

header {
    text-align: center;
    margin-top: 20px;
}

/* Typography */
body {
    font-family: Garamond, serif;
    background-color: ivory;
}

/* Lists */
li {
    margin-bottom: 5px;
}

ul {
    margin-top: 0;
    list-style: none;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

/* Buttons */
.btn {
    font-family: Garamond, serif;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100px;
    margin: 0 40px 0 40px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Button Row */
.button-row {
    display: flex;
    align-items: center;
}

/* Layout Containers */
.game-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
}

/* Results */
.win,
.lose,
.tie {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.tie {
    color: blue;
}

.game-header,
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoring-container {
    display: flex;
    flex-direction: row;
}

#scoring-header {
    margin-top: 30px;
}

.scoring-list {
    margin: 0 11px 20px 11px;
}

#game-instructions {
    font-size: large;
}

.emoji {
    font-size: 32px;
}

.round-detail {
    font-size: 24px;
    font-weight: 600;
}